.hero-header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-header-div img {
  width: 100%;
  height: 100vh;
}

.hero-header-div h1 {
  font-size: 50px;
}

.buttons {
  margin: 2rem;
}

.view-button {
  margin: 2rem 1rem 2rem 1rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: large;
  background-color: black;
  color: white;
  border-radius: 0.5rem;
}

.signup-button {
  margin: 2rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: large;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
}

.secondsection {
  column-count: 2;
  display: flex;
  flex-direction: row-reverse;
  padding: 4rem;
}

.secondsection img{
  width: 50%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.learnbtn {
  background-color: black;
  color: white;
  margin: 1rem 2rem 1rem 2rem;
  padding: 0.5rem;
  font-size: medium;
  border: none;
  border-radius: 2px;
}

.signbtn {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  margin: 1rem 2rem 1rem 2rem;
  padding: 1rem;
  font-size: medium;
}

@media screen and (max-width: 768px) {
  .hero-header-div {
    text-align: center;
  }

  .buttons {
    flex-direction: column;
  }

  .img {
    max-width: 100%; /* Adjust the max-width for smaller screens */
  }

  .secondsection {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
